section#gift-list {
  padding: 80px 0px 0px 0px;
}

#gift-list .button-container {
  line-height: 200%;
  padding-top: 10px;
  text-align: center;
}

.gift-list-outer {
  padding: 40px;
  background: #27363d url("../images/blackground.jpg");
  background-size: 100% 100%;
}

.gift-list-inner {
  padding: 50px;
  background-color: white;
  padding: 10px 40px 40px 40px;
  text-align: center;
}

.gift-list-flowers {
  float: left;
  position: relative;
  z-index: 50;
  top: -150px;
  height: 50px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .gift-list-outer {
    padding: 25px !important;
  }
}
