a.gift-list {
  color: white !important;
  background-color: rgba(116, 181, 96, 0.8);
  border-radius: 4px;
  padding: 5px;
  text-decoration: none;
}

a.gift-list:hover {
  background-color: rgba(116, 181, 96);
}
