.hero {
  text-align: center;
  background: url("../images/top-flowers-white-background.jpg") top center
    no-repeat;
  padding: 250px 0 0 0;
}

.hero .rsvp-container a {
  color: white !important;
  background-color: rgba(116, 181, 96, 0.8);
  border-radius: 5px;
  padding: 10px 15px;
  text-decoration: none;
}

.hero .rsvp-container a:hover {
  background-color: rgba(116, 181, 96);
}

.hero-wedding-of,
.hero-date {
  text-transform: uppercase;
}

.hero h1 {
  padding-bottom: 40px;
}

.rsvp-container {
  line-height: 200%;
  padding: 50px;
}
