nav {
  background: white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(116, 181, 96);
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

nav div.hamburger {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  height: 2em;
  width: 2em;
}

nav ul {
  display: none;
}

nav ul.opened {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  text-align: center;
}

a.rsvp-button {
  color: white !important;
  background-color: rgba(116, 181, 96, 0.8);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  line-height: 200%;
}

a.rsvp-button:hover {
  background-color: rgba(116, 181, 96);
}

@media screen and (min-width: 600px) {
  nav ul.opened {
    display: none;
    flex-direction: column;
  }

  nav div.hamburger,
  nav ul {
    display: none;
  }

  nav ul.scrollingUpwards {
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 0;
    margin: 0px;
  }

  nav ul li {
    display: inline-block;
    height: 100px;
    list-style-type: none;
    line-height: 100px;
    padding: 0 10px 0 10px;
  }

  img.gold-monogram {
    margin: 10px 0px 10px 0px;
  }

  .push-right {
    margin-left: auto;
  }
}
