nav a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

a.rsvp-button {
  color: white !important;
  background-color: rgba(116, 181, 96, 0.8);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
}

a.rsvp-button:hover {
  background-color: rgba(116, 181, 96);
}

.button-container {
  line-height: 200%;
}

nav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  text-transform: uppercase;
}

nav ul {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  background-color: white;
}

nav .hamburger {
  display: none;
}

nav.scrollingUpwards ul {
  border-bottom: 2px solid rgba(116, 181, 96, 0.8);
  visibility: visible;
  transition: visibility 0s, opacity 0s linear;
  opacity: 1;
}

nav .hamburger {
  display: none;
}

nav ul {
  flex-direction: column;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding: 0 20px 0 0;
  margin: 0px;
  text-align: center;
}

nav ul li {
  align-self: center;
  list-style-type: none;
  padding: 0 10px 0 10px;
}

img.gold-monogram {
  margin: 10px 0px 10px 0px;
}

.push-right {
  margin-left: auto;
}

@media screen and (max-width: 650px) {
  nav {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: transparent;
  }

  nav > * {
    pointer-events: initial;
  }

  nav ul {
    list-style: none;
    background-color: inherit;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
  }

  .push-right {
    margin-left: initial;
  }

  nav div.hamburger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 101;
  }

  nav button {
    border: none;
    background-color: white;
    outline: none;
  }

  nav button:focus {
    border: none;
  }

  nav.toggled-open ul {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0s linear;
  }

  nav.toggled-closed ul {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
  }

  nav ul li {
    padding: 20px;
    text-align: center;
    font-size: 18px;
  }

  nav.visible ul {
    visibility: visible;
  }
}
