section#transport {
  padding: 0px;
  margin: 0 auto 0 auto;
}

#transport h1 {
  padding-top: 50px;
  margin-top: 0px;
}

.transport-outer {
  padding: 25px;
  background-size: cover;
}

.transport-inner {
  background-color: white;
  padding: 20px;
}

.taxi-container {
  display: flex;
}

.taxi {
  flex: 1 1 auto;
  text-align: center;
}
