section#transport {
  padding: 0px;
  margin: 0 auto 0 auto;
}

#transport h1 {
  padding-top: 50px;
  margin-top: 0px;
}

.transport-outer {
  padding: 25px;
  background-size: cover;
}

.transport-inner {
  background-color: white;
  padding: 0px 40px 40px 40px;
  text-align: center;
}

.taxi-container {
  display: flex;
}

.taxi {
  flex: 1 1 auto;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .taxi-container {
    display: block;
  }

  .taxi {
    width: 100%;
  }

  .taxi:not(:last-child) {
    margin-bottom: 50px;
  }
}
